.mensaje-validacion {
    color: red;
    font-size: 13px;
    display: block;
    margin-top: 2px;
}

.resaltado-error {
    border: 2px solid crimson !important;
    background-color: #fff6f6;
    animation: sacudida 0.2s ease;
}

@keyframes sacudida {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}